h1 {
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}

.change1 {
  color: blue;
}

p {
  font-size: 20px;
}

div {
  border: dashed 3px green;
}

span {
  border: solid 2px red;
  background-color: yellow;
}
